<h2>Trace's Calculator: the world's 271st best calculator**</h2>
<h3>Enter two numbers below and click a button to do some math!</h3>
<link rel="stylesheet" href="/site.css">
  <form method="post" action="/maths/calculator">
  <input type="number" name="left" value="0" step="any" required> and 
  <input type="number" name="right" value="0" step="any" required>
  <br>
  <button name="whatMathWeDoing" value="adding">+</button>
  <button name="whatMathWeDoing" value="subtraction">-</button>
  <button name="whatMathWeDoing" value="division">/</button>
  <button name="whatMathWeDoing" value="multiply">*</button>
  <button name="whatMathWeDoing" value="mod">%</button>
  <button name="whatMathWeDoing" value="exponent">^</button>
</form> 
<br>
<footer>
<div style="font-size:8px">**Claim is just Trace's opinion and is not supported by any science or statistic.</div>
</footer>